/Metodos/nbproject/private/
/Metodos/build/
/Arreglos/nbproject/private/
/Arreglos/build/
/Ejercicio_1/nbproject/private/
/Ejercicio_1/build/
/Ejercicio_2/nbproject/private/
/Ejercicio_2/build/
/Ejercicio_3/nbproject/private/
/Fechas/nbproject/private/
/Ejercicio_3/build/
/Ejercicio_4/nbproject/private/
/CalculadoraJFVL/nbproject/private/
/CalculadoraJFVL/build/