/Metodos/nbproject/private/
/Metodos/build/
/Arreglos/nbproject/private/
/Arreglos/build/
/Ejercicio_1/nbproject/private/
/Ejercicio_1/build/
/Ejercicio_2/nbproject/private/
/Ejercicio_2/build/
/Ejercicio_3/nbproject/private/
/Fechas/nbproject/private/
/Ejercicio_3/build/
/Ejercicio_4/nbproject/private/
/CalculadoraJFVL/nbproject/private/
/CalculadoraJFVL/build/
/PromedioNotas_JFVL/nbproject/private/
/PromedioNotas_JFVL/build/
/RadioCircunferencia_JFVL/nbproject/private/
/RadioCircunferencia_JFVL/build/
/NivelTemperatura_JFVL/nbproject/private/
/NivelTemperatura_JFVL/build/
/Hora_JFVL/nbproject/private/
/Hora_JFVL/build/
/Velocidad_JFVL/nbproject/private/
/Velocidad_JFVL/build/
/Beans_Servlet_Jsp_JFVL/nbproject/private/
/Beans_Servlet_Jsp_JFVL/build/
/Hola_Mundo/nbproject/private/
/Hola_Mundo/build/
/Hola_Mundo/dist/
/Biodiesel_JFVL/nbproject/private/
/Biodiesel_JFVL/build/
/UProductivasYamboro_JFVL/nbproject/private/
/UProductivasYamboro_JFVL/build/